<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.manash.classwork">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ClassWork"
        tools:targetApi="31">
        <activity
            android:name=".CustomToast"
            android:exported="false" />
        <activity
            android:name=".CameraIntent"
            android:exported="true" />
        <activity
            android:name=".NotificationView2"
            android:exported="false" />
        <activity
            android:name=".NotificationView1"
            android:exported="false" />
        <activity
            android:name=".JobScheduler"
            android:exported="true" />
        <activity
            android:name=".TimePickerExample"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TimePicker"
            android:exported="true" />
        <activity
            android:name=".Header_footer"
            android:exported="false" />
        <activity
            android:name=".ProgressBar"
            android:exported="true" />
        <activity
            android:name=".SplashScreenNext"
            android:exported="true" />
        <activity
            android:name=".SplashScreen"
            android:exported="true" />
        <activity
            android:name=".ScrollView2"
            android:exported="true" />
        <activity
            android:name=".ScrollView"
            android:exported="true" />
        <activity
            android:name=".RatingExample"
            android:exported="true" />
        <activity
            android:name=".RatingBar"
            android:exported="true" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <receiver android:name=".TimePicker$AlarmNPendingIntentDemo$MyAlarmDemo" />
        <receiver android:name=".MyBroadcast" />

        <service
            android:name=".MyJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>